<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brindavancollege.videosurveillance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
     <uses-permission android:name="android.permission.SEND_SMS" />
     
      <uses-permission android:name="android.permission.CALL_PHONE" />
 
 <uses-permission  android:name="android.permission.CAMERA" android:required="false"/>
 
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 
 <uses-permission android:name="android.permission.RECORD_AUDIO" />
 <uses-permission android:name="android.permission.RECORD_VIDEO" />
 <uses-permission android:name="android.permission.VIBRATE"/>
     <uses-permission android:name="android.permission.WAKE_LOCK" />
 
 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
       <activity
            android:name="com.brindavancollege.videosurveillance.splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        <activity
            android:name="com.brindavancollege.videosurveillance.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
       
        <activity
            android:name="com.brindavancollege.videosurveillance.StartSurveillance"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.brindavancollege.videosurveillance.StartSettings"
            android:label="@string/title_activity_start_settings" 
            >
        </activity>
        
         <activity
            android:name="com.brindavancollege.videosurveillance.PrefSettings"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
          <activity
            android:name="com.brindavancollege.videosurveillance.MotionDetectionActivity"
            >
            
        </activity>
        
           <activity
            android:name="com.brindavancollege.videosurveillance.SensorsActivity"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
            <activity
            android:name="com.brindavancollege.motiondetection.AggregateLumaMotionDetection"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
            
             <activity
            android:name="com.brindavancollege.motiondetection.Comparer"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
              <activity
            android:name="com.brindavancollege.motiondetection.ImageProcessing"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
               <activity
            android:name="com.brindavancollege.motiondetection.IMotionDetection"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
                <activity
            android:name="com.brindavancollege.motiondetection.RgbMotionDetection"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
        <activity
            android:name="com.brindavancollege.motiondetection.State"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
        <activity
            android:name="com.brindavancollege.videosurveillance.CounterActivity"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
        <activity
            android:name="com.brindavancollege.videosurveillance.LoginActivity"
            android:label="@string/title_activity_start_settings"
            android:theme="@android:style/Theme.Black" >
        </activity>
        
        <activity
            android:name="com.brindavancollege.videosurveillance.ImageActivity"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
         <activity
            android:name="com.brindavancollege.videosurveillance.BigImage"
            android:label="@string/title_activity_start_settings" >
        </activity>
      
        
         
          <activity
            android:name="com.brindavancollege.videosurveillance.VideoActivity"
            android:label="@string/title_activity_start_settings" >
        </activity>
        
           <activity
            android:name="com.brindavancollege.videosurveillance.VideoViewActivity"
            android:label="@string/title_activity_start_settings" 
            android:theme="@android:style/Theme.Black">
        </activity>
        
           <activity
            android:name="com.brindavancollege.videosurveillance.HelpActivity"
            android:label="@string/title_activity_start_settings" >
           
        </activity>
        
       </application>

</manifest>
